<!DOCTYPE HTML>

<head>
    <meta charset="UTF-8">
    <title>"Abschlussarbeitsinfotool"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<link rel="stylesheet" href="/style.css">


<header>

    <h1 class = "site-logo"><img src="/Bilder/TH_Nuernberg_RGB.jpg"
                                 alt="Logo der Startseite"
                                 width = "340"
                                 height = "50"></h1>
    <div class ="a">
        <p class="site-slogan" style = color:black><strong>ThesisAndMore</strong></p>
        <p class="site-slogan-beschreibung" style = color:black >Dein Weg zur Abschlussarbeit!</p>
    </div>

</header>

<nav class="site-nav">

    <ul class="site-nav-list">
        <li><a href ="startseite.html">Startseite</a></li>
        <li><a class="current" href ="allgInfo.html">Allgemeine Informationen</a></li>
        <li><a href ="abschlussarbeitsthemen.html">Abschlussarbeitsthemen</a></li>
        <li><a href ="vorschlaege.html">Eigene Themenvorschläge</a></li>
        <li><a href ="professoren.html">Professoren</a></li>

        <div class ="site-nav-right">
            <li><a href = "#email"><a href ="mailto:info@th-nuernberg.de">E-Mail</a></link></a></li>
            <li><a href = "#tel"><link>+49 911/5880-0</link></a></li>
        </div>
    </ul>

</nav>

<main class="mainClass">
    <p class="begrueßung" style = color:black>Willkommen bei den allgemeinen Infos zu den Abschlussarbeiten</p>
    <p class="begrueßung2" style = color:black>Hier finden Sie wichtige Informationen bezüglich Ihrer Abschlussarbeit</p>
    <p class ="begrueßung2" style =color:black>Per "Klick" auf die einzelnen Menüpunkte, können Sie diese abrufen!</p>



</main>



<div>
    <button class="collapsible"><div class="dropdownclass">Voraussetzungen zur Anmeldung</div> </button>
    <div class="content">
        <p>
            <ul>
                <li>Bachelorarbeit:</li>
                <ul><li>Ableistung des praktischen Studiensemesters (Nachweis des Zeugnisses ist notwendig) + 160 Leistungspunkte</li>
                    <li>Besuch der Seminare <b>„Wissenschaftliches Schreiben“</b> und <b>„Literaturrecherche“</b></li>
                    <li>Seminar zur Bachelorarbeit ableisten (Informationen dazu bei Punkt 2 -> verlinken)</li>
                </ul>
                <li>Masterarbeit:</li>
                 <ul><li>Anmeldung ab dem 2. Semester mit 24 Leistungspunkten</li></ul>


            </ul>
        </p>
    </div>
</div>
<div>
    <button class="collapsible"><div class="dropdownclass">Seminar zur Bachelorarbeit</div> </button>
    <div class="content">
        <p>
        <ul>
            <li><b>Vor der Anmeldung:</b></li>
            <ul><li>Teilnahme an zwei je 90 minütigen Kursen zu den Themen "Wissenschaftliches Schreiben" und "Literaturrecherche". (<a href="https://intern.ohmportal.de/institutionen/fakultaeten/informatik/studierende/infos-zum-studium/abschlussarbeiten/informationen-und-vorlagen/termine-wissenschaftliches-schreiben-und-literaturrecherche/page.html">Termine im Semester</a>)</li>
                <li>Die Anmeldung zu den kursen erfolgt über <a href ="https://virtuohm.ohmportal.de/pls/portal/portal.anmelden">VirtuOhm</a></li>
                <li>Die Nachweisführung der Kurse erfolgt über ein <a href ="https://intern.ohmportal.de/fileadmin/Gelenkte_Doks/Fak/IN/IN_4150_FO_Nachweisfuehrung_Seminar_Bachelorarbeit_public.pdf">Formular</a></li>
                <li>Alle Studierende müssen <b>vor Bewertung</b> ihrer Bachelorarbeit mindestens <b>8 Vorträge</b> ihrer Kommilitonen besucht haben und diese im Formular unterschreiben lassen.</li>
                <li>Alle betroffenen Studierenden müssen sich spätestens mit Beginn ihres 6. Semesters im Moodle (FBI, RZ-Moodle, Fakultät Informatik, Kursunterbereiche, Seminar zur Bachelorarbeit) anmelden. Interessierte dürfen sich auch schon früher anmelden.</li>
                <li>Dabei ist es ist sicherzustellen, dass die Vorträge im Moodle in der Vortragsankündigung als auch in der Liste der Vorträge eingetragen sind.</li>
                <li>Der Nachweis über den Besuch der Kurse muss dem Betreuer der Bachelorarbeit <b>vor der Anmeldung</b> der Arbeit vorgelegt werden.</li>
            </ul>
            <li><b>Nach der Anmeldung:</b></li>
            <ul><li>Das Seminar zur Bachelorarbeit ist zur Aufwertung Ihrer Bachelorarbeit gedacht.  Es verbessert insbesondere Ihre Kompetenzen, ein komplexes Thema, das Sie sich über Monate erarbeitet haben, verständlich zu präsentieren und Ihre Arbeit zu verteidigen.</li>
                <li>Alle MIN‐Studierende, sowie IN‐ und WIN‐Studierende mit der Prüfungsordnung PO 20072 (alle Studierende ab dem Studienbeginn WS 09/10) müssen das Seminar zur Bachelorarbeit ableisten.</li>
                <li>Sie müssen einen <b>45-minütigen Vortrag</b> (einschließlich Diskussion) zu <b>Ihrer Bachelorarbeit halten.</b></li>
                <li>Die Termine können grundsätzlich Montag bis Donnerstag jeweils von 17:30 Uhr bis 19:00 Uhr stattfinden.</li>
                <li>Pro Termin sollen zwei Vorträge erfolgen. Bereits vorhandene Einzeltermine nehmen Sie bitte zur Terminplanung zu Ihrem Betreuer mit!</li>
                <li>Termin und Raum für den Vortrag sind von den Studierenden mit dem Betreuer der Arbeit und dem Sekretariat abzustimmen.</li>



            </ul>
        </ul>

        </p>
    </div>
</div>
<div>
    <button class="collapsible"><div class="dropdownclass">Wahl von Betreuer und Thema</div> </button>
    <div class="content">
        <p>
        <ul>
            <li>Die Wahl des Betreuers erfolgt durch die Studierenden.</li>
            <li>Mindestens einer der beiden Prüfer (im Regelfall der Erstprüfer und Themensteller) muss der Fakultät Informatik angehören.</li>
            <li>Das Thema der Abschlussarbeit wird zwischen Studierenden und Betreuer vereinbart.</li>
            <li>Für Abschlussarbeiten, die in Zusammenarbeit mit Firmen oder Behörden erstellt werden, gelten die Richtlinien im Anmeldeformular, welches Sie unter "Downloads" finden.</li>
            <li>Als Erstbetreuer von Abschlussarbeiten der Bachelor- und Master-Studiengänge der Fakultät Informatik sind alle Professoren zugelassen</li>
            <li>Als Zweitbetreuer von Abschlussarbeiten sind alle Professoren und Professorinnen der Fakultät Informatik sowie Professoren anderer Fakultäten und Hochschulen/Universitäten zugelassen.</li>
            <li>Abschlussarbeiten (Bachelor oder Master) in englischer Sprache können erstellt werden, wenn bereits bei der Anmeldung der Titel der Abschlussarbeit in englischer Sprache festgelegt wird. Somit ist eine explizite Genehmigung der Prüfungskommission nicht notwendig.</li>

        </ul>


        </p>
    </div>
</div>
<div>
    <button class="collapsible"><div class="dropdownclass">Suche eines Betreuers</div> </button>
    <div class="content">
        <p>
        <ul>
            <li>Bitte beachten Sie auf der Suche nach Betreuern mögliche Abwesenheiten der Professoren/innen in der vorlesungsfreien Zeit und planen Sie daher ausreichend Vorlaufzeit ein!</li>
            <li><b>Bei Themensuche:</b> Besuchen Sie bitte unsere Abschlussarbeitsthemen-Datenbank, von der aus Sie die Professoren/innen direkt kontaktieren können.</li>
            <li><b>Bei eignenem Themenvorschlag:</b>Benutzen Sie unsere Professoren-Datenbank, bei der die Professoren + Fachgebiete aufgeführt sind.</li>
            <li>Rundmails sind ausschließlich untersagt!</li>
            <li>Bitte stellen Sie den Professoren/innen bei Anfrage zur Betreuung Ihrer Abschlussarbeit folgende Informationen bereit:</li>
            <ul><li>angestrebtes Abgabedatum</li>
                <li>Kontakt Erstprüfer, wenn Sie eine n Zweitprüfer suchen</li>
                <li>eigener Themenvorschlag oder angebotenes Thema des/der Dozent/in</li>
                <li>ihre Interessen, wenn Sie ein internes Thema suchen</li>
            </ul>
            <li>Möchten Sie ein <b>eigenes Thema vorschlagen</b>, sollten Sie dem/der gewünschten Betreuer/in ein <b>Exposé</b> schicken, in dem Sie die Aufgabenstellung beschreiben und dabei auch auf folgende Punkte eingehen:</li>
            <ul><li>Wo liegen bei dem Thema Ihre Interessen oder die des Unternehmens?</li>
                <li>Was ist die fachliche Herausforderung?</li>
                <li>Gibt es organisatorische Anforderungen des involvierten Unternehmens?</li>
                <li>Wer sind die Ansprechpartner des involvierten Unternehmens?</li>

            </ul>
        </ul>

        </p>
    </div>
</div>
<div>
    <button class="collapsible"><div class="dropdownclass">Anmeldung der Abschlussarbeit</div> </button>
    <div class="content">
        <p class = "headercollapsible">Webformular im Abschlussarbeiten-Online-Portal der Fakultät Informatik ausfüllen: <a href ="https://abschlussarbeiten.informatik.fh-nuernberg.de">Homepage</a>

        <ol>
            <li>Eingabe der Zielsetzung der Abschlussarbeit in Absprache mit dem Erstbetreuer im Umfang von ca. 100 Worten im Webformula</li>
            <li>Bei <b>externen Abschlussarbeiten</b> ist zusätzlich im Webformular: <b>„Im Inland externe Abschlussarbeit“</b> oder <b>„im Ausland“</b> anzukreuzen</li>
            <li>Ausdrucken des Anmeldeformulars (Sobald die Pflichtfelder des Webformulars vollständig ausgefüllt sind, erscheint ein Button zum Download und das ausgefüllte Anmeldeformular kann mittels Webanwendung ausgedruckt werden.)</li>
            <li>Nachweis über die Teilnahme an den Kursen: „Wissenschaftliches Schreiben“ und „Literaturrecherche“ dem Erstbetreuer vorzeigen (<b>nur für Bachelor</b>, nicht für Master!)</li>
            <li>Das ausgedruckte Anmeldeformular zweifach, komplett ausgefüllt, mit der eigenen Unterschrift sowie den Unterschriften der Erst- und Zweitbetreuer im <a href="https://intern.ohmportal.de/institutionen/studienbuero/der-studierendenservice-informiert/page.html">Studierendenservice</a> am Prinzregentenufer (Gebäude KJ, direkt vor dem Studienbüro) abgeben, nicht im Sekretariat!</li>
            <li>Der Studierendenservice prüft, ob Sie die Voraussetzungen zur Anmeldung der Abschlussarbeit erfüllen</li>
            <li>Ihre zweifache Anmeldung wird dann an das Studienbüro weitergeleitet. Hier wird geprüft, ob Sie den Bearbeitungszeitraum korrekt angegeben haben und ggfs. korrigiert. Eine geprüfte Kopie der Anmeldung wird an das IN-Sekretariat gesendet.</li>
            <li>Die eingegangene Anmeldung wird anschließend im IN-Sekretariat geprüft, gegebenenfalls geändert und freigeschaltet. Sie können keine Änderungen an Ihren Anmeldedaten mehr vornehmen.
                Sobald die Arbeit von dem IN-Sekretariat freigeschaltet wurde, erfolgt eine Info-Email an Sie. Das Sekretariat verteilt anschließend die Anmeldung an den Erst- und Zweitbetreuer sowie an die Prüfungskommission
            </li>



        </ol>


        </p>
    </div>
</div>
<div>
    <button class="collapsible"><div class="dropdownclass">Verfassen der Abschlussarbeit</div> </button>
    <div class="content">
        <p class ="headercollapsible">In dieser Phase ist keine Tätigkeit im Online-Portal notwendig. Sie können sich aber informieren, wie lange Sie noch für die Bearbeitung Zeit haben.

            <ul>
                <li><b>Umfang der Arbeit und maximale Bearbeitungszeit</b></li>
        <p></p>
        <ul><li><b>Bachelor:</b> 12 Leistungspunkte + 2 Leistungspunkte Seminar zur Bachelorarbeit, maximale Frist bis zur Abgabe:  <b>5 Monate</b></li>
            <p></p>
            <li><b>Master:</b> 30 Leistungspunkte, die Frist von der Ausgabe bis zur Abgabe der Masterarbeit darf <b>8 Monate</b> nicht überschreiten. Das Thema muss so beschaffen sein, dass die Masterarbeit bei zusammenhängender ausschließlicher Bearbeitung in <b>6 Monaten fertiggestellt</b> werden kann.</li>
        </ul>



        </ul>


        </p>
    </div>
</div>
<div>
    <button class="collapsible" style="margin-bottom: 2cm"><div class="dropdownclass">Abgabe der Abschlussarbeit</div> </button>
    <div class="content">
        <p class ="headercollapsible"><b>Die Abschlussarbeit ist zweifach in gedruckter Form (DinA4), gebunden, im Studierendenservice der TH Nürnberg einzureichen. (Spiralbindungen sind nicht zulässig!)</b></p>

        <ul>
            <li>In der Abschlussarbeit muss fest eingebunden sein:</li>
            <ul><li>die Erklärung (gemäß § 19 Abs. 8 APO (Muster)), dass die Arbeit selbständig verfasst und noch nicht anderweitig für Prüfungszwecke vorgelegt wurde sowie keine anderen als die angegebenen Quellen und Hilfsmittel benutzt wurden bzw. wörtliche und sinngemäße Zitate als solche gekennzeichnet sind.</li>
                <li>die ausgefüllte <b>„Erklärung zur Veröffentlichung der Abschlussarbeit“</b>.</li></ul>
            <li>Bei den Exemplaren sind lose beizulegen:</li>
            <ul><li>das ausgefüllte <b>Bewertungsformular</b></li>
                <li>sowie (nur in Absprache mit dem/der betreuenden Dozent/IN) eine CD mit einer elektronischen Fassung der Abschlussarbeit einzukleben.</li></ul>
            <li>Sie werden anschließend im Online-Portal mit Button "Abgabe vorbereiten“ durch den Prozess zur Abgabe der Arbeit geführt:</li>
            <li>Füllen sie weitere Abgabe-Formalitäten vollständig aus:</li>
            <ul><li>zu Ihrem Seminarbetreuer</li>
                <li>der Zusammenfassung der Arbeit (Abstract!)</li>
                <li>den Veröffentlichungsmodalitäten</li>
                <li>Jetzt drucken Sie die <b>„Erklärung zur Veröffentlichung der Abschlussarbeit“</b> und das <b>„Bewertungsformular“</b> zu Ihrer Arbeit aus</li>
            </ul>
            <li><b>Poster:</b> Laden Sie die Vorlage für die Erstellung des Posters herunter und füllen Sie diese aus. Das mit dem Erstbetreuer abgestimmte Poster ist als PDF wieder hochzuladen.</li>
            <li><a href="https://intern.ohmportal.de/fileadmin/Gelenkte_Doks/Fak/IN/IN_4150_FO_Nachweisfuehrung_Seminar_Bachelorarbeit_public.pdf">Nachweis</a> über die Teilnahme am Bachelorseminar vollständig ausgefüllt (bitte als Hardcopy) an den Erstbetreuer übermitteln</li>
            <li>Zuletzt senden Sie über Ihr Email-Konto der TH Nürnberg eine Mail an den Erst- und Zweitbetreuer mit der <b>pdf-Version Ihrer Abschlussarbeit</b>.</li>

        </ul>
        <p class = "headercollapsible"><b>Hinweis: Nutzen Sie die Möglichkeiten, Ihre Kommunikation zu sichern (wie SSL/TLS- bzw. https-Verbindung zum Mailserver, PGP zur Mailverschlüsselung oder Verschlüsselung der pdf-Dateien).</b></p>


    </div>
</div>

<script src="/javascript.js"></script>

</body>



