<!DOCTYPE HTML>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>"Abschlussarbeitsinfotool"</title>
</head>

<body>

<link rel="stylesheet" href="/style.css">


<header>

    <h1 class = "site-logo"><img src="/Bilder/TH_Nuernberg_RGB.jpg"
                                 alt="Logo der Startseite"
                                 width = "340"
                                 height = "50"></h1>
    <div class ="a">
        <p class="site-slogan" style = color:black><strong>ThesisAndMore</strong></p>
        <p class="site-slogan-beschreibung" style = color:black >Dein Weg zur Abschlussarbeit!</p>
    </div>

</header>

<!-- Navigationsbar -->
<nav class="site-nav">

    <ul class="site-nav-list">
        <li><a href ="startseite.html">Startseite</a></li>
        <li><a href ="allgInfo.html">Allgemeine Informationen</a></li>
        <li><a href ="abschlussarbeitsthemen.html">Abschlussarbeitsthemen</a></li>
        <li><a href ="vorschlaege.html">Eigene Themenvorschläge</a></li>
        <li><a href ="professoren.html">Professoren</a></li>
        <li><a class="current" href ="faq.html">FAQ</a></li>

        <div class ="site-nav-right">
            <li><a href = "#email"><a href ="mailto:info@th-nuernberg.de">E-Mail</a></link></a></li>
            <li><a href = "#tel"><link>+49 911/5880-0</link></a></li>
        </div>
    </ul>


</nav>

<!-- Begrüßungstext -->
<main class="mainClass">
    <p class="begrueßung" style = color:black>FAQ</p>


</main>

    <!-- FAQ-Funktion -->
    <h2>FAQ zu den Abschlussarbeiten</h2>
    <p>Hier können Sie die häufigsten auftauchenden Fragen nachlesen. </p>
    <button class="accordion">Voraussetzung vor der Bacheloranmeldung</button>
    <div class="panel">
        <p>Die Kurse <b>„Wissenschaftliches Schreiben“</b> und <b>„Literaturrecherche“</b> besuchen.
            Bis zum Abschluss seiner Bachelorarbeit mindestens 8 Vorträge im Seminar besuchen.
        </p>
    </div>

    <button class="accordion">Wem überreiche ich meinen Nachweis an der Teilnahme des Seminars bzw. den Kursen?</button>
    <div class="panel">
        <p>Dem Erstprüfer der Bachelorarbeit vorlegen</p>
    </div>

    <button class="accordion">Wann melde ich die Bachelorarbeit an?</button>
    <div class="panel">
        <p>Nach Abstimmung mit dem Dozenten/-in</p>
    </div>

    <button class="accordion">Muss ich selber einen Zweitkorrektor/-in finden?</button>
    <div class="panel">
        <p>Ja, sowohl Erst- als auch Zweitkorrektor/-in</p>
    </div>

    <button class="accordion">Wo gebe ich die Bachelorarbeit ab?</button>
    <div class="panel">
        <p>In zweifacher Ausfertigung in gedruckter und gebundener Form (DinA4) beim 	Studierendenservice</p>
    </div>

    <button class="accordion">Kann ich meine Abgabefrist verlängern?</button>
    <div class="panel">
        <p>Die Abgabefrist kann einmalig bis zu 3 Monate verlängert werden. Diese ist allerdings bei der 	Prüfungskommission zu beantragen.</p>
    </div>


<script src="javascript.js"></script>


</body>



