<!DOCTYPE HTML>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/javascript.js"></script>
    <link rel="stylesheet" href="/style.css">

    <title>"Abschlussarbeitsinfotool"</title>
</head>
<body>
<header>
    <h1 class = "site-logo"><img src="/Bilder/TH_Nuernberg_RGB.jpg"
                                 alt="Logo der Startseite"
                                 width = "340"
                                 height = "50"></h1>
    <div class ="a">
        <p class="site-slogan" style = color:black><strong>ThesisAndMore</strong></p>
        <p class="site-slogan-beschreibung" style = color:black >Dein Weg zur Abschlussarbeit!</p>
    </div>
</header>
<!-- Navigationsbar -->
<nav class="site-nav">
    <ul class="site-nav-list">
        <li><a href ="startseite.html">Startseite</a></li>
        <li><a href ="allgInfo.html">Allgemeine Informationen</a></li>
        <li><a href ="abschlussarbeitsthemen.html">Abschlussarbeitsthemen</a></li>
        <li><a href ="vorschlaege.html">Eigene Themenvorschläge</a></li>
        <li><a class="current" href ="professoren.html">Professoren</a></li>
        <div class ="site-nav-right">
            <li><a href = "#email"><a href ="mailto:info@th-nuernberg.de">E-Mail</a></link></a></li>
            <li><a href = "#tel"><link>+49 911/5880-0</link></a></li>
        </div>
    </ul>
</nav>
<!-- Begrüßungstext -->
<main class="mainClass">
    <p class="begrueßung" style = color:black>Professoren der Fakultät Informatik</p>
    <p class="begrueßung2" style = color:black>hier finden Sie die Professoren der TH-Nuernberg, sowie deren Fachgebiete</p>
    <div id="profCards">
    </div>
</main>

<!-- Methode, die die Daten aus der DB liest und auf der Webseite ausgibt -->
<script type="application/javascript">
    $.ajax({
        url: "/professoren/",
        type: "GET",
        success: function (professoren) {
            for(var i = 0; i < professoren.length; i++){
                var profCard =
                    '<div class="card">' +
                    '<img class="profilbild" src="/Bilder/img_avatar.png" alt="Avatar" />' +
                    '<div class="container">' +
                    '<h4 style="text-align: center" id="' + professoren[i]._id + '"><b>' + professoren[i].name + '</b></h4>' +
                    '<div class="infos">' +
                    '<p>' + professoren[i].schwerpunkt + '</p>' +
                    '<p>' + professoren[i].email + '</p>' +
                    '</div>' +
                    '<a href="mailto:' + professoren[i].email + '"><button><img class="icon" src="/Bilder/mailIcon.png"></button></a></p>' +
                    '</div>' +
                    '</div>';
                $("#profCards").append(profCard);
            }

        }, error: function (jqHXR, textStatus, errorThrown) {

        }
    });
</script>


</body>