<!DOCTYPE HTML>

<head>
    <meta charset="UTF-8">



    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <title>"Abschlussarbeitsinfotool"</title>



</head>

<body>




<header>

    <h1 class = "site-logo"><img src="/Bilder/TH_Nuernberg_RGB.jpg"
                                 alt="Logo der Startseite"
                                 width = "340"
                                 height = "50"></h1>
    <div class ="a">
        <p class="site-slogan" style = color:black><strong>ThesisAndMore</strong></p>
        <p class="site-slogan-beschreibung" style = color:black; >Dein Weg zur Abschlussarbeit!</p>
    </div>

</header>


<!-- Navigationsbar -->
<nav class="site-nav">

    <ul class="site-nav-list">
        <li><a class="current" href ="startseite.html">Startseite</a></li>
        <li><a href ="allgInfo.html">Allgemeine Informationen</a></li>
        <li><a href ="abschlussarbeitsthemen.html">Abschlussarbeitsthemen</a></li>
        <li><a href ="vorschlaege.html">Eigene Themenvorschläge</a></li>
        <li><a href ="professoren.html">Professoren</a></li>

        <div class ="site-nav-right">
            <li><a href = "#email"><a href ="mailto:info@th-nuernberg.de">E-Mail</a></link></a></li>
            <li><a href = "#tel"><link>+49 911/5880-0</link></a></li>
        </div>
    </ul>


</nav>

<!-- Begrüßungstext und -bild -->
<div class="container1">
    <img src="/Bilder/homepic.jpg" alt="graduation" style="width: 1333px; height: 650px;">
    <div class="text-block">
        <h4>Willkommen bei ThesisAndMore!</h4>
        <p class="begrueßung2" style="text-align: center">Hier finden Sie alle nötigen Informationen bezüglich Ihrer Abschlussarbeit &#9996</p>
    </div>
</div>



<main class="mainClass">

</main>

<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://www.facebook.com/thnuernberg" target ="_blank" rel ="noopener"><i class="fa fa-facebook"></i></a>
        <a href="https://www.youtube.com/user/THNuernberg" target ="_blank" rel ="noopener"><i class="fa fa-youtube"></i></a>
        <a href="https://twitter.com/TH_Nuernberg" target ="_blank" rel ="noopener"><i class="fa fa-twitter"></i></a>
        <a href="https://www.xing.com/companies/technischehochschulen%C3%BCrnberg" target ="_blank" rel ="noopener"><i class="fa fa-xing"></i></a>
        <a href="https://www.instagram.com/th_nuernberg/" target ="_blank" rel ="noopener"><i class="fa fa-instagram"></i></a>


        <p><p></p></p>
        <p class ="copyright">ThesisAndMore &copy; 2019</p>


    </div>
    </div>
    <div class="footer-left">

        <div class = "site-logo-footer"><img src="Bilder/TH_Nuernberg_White.png"
                                             alt="Logo der Startseite"
                                             width = "340"
                                             height = "50"></div>

        <p class="footer-links">
            <!--        &#187-->&#10148
            <a href="https://www.th-nuernberg.de/wie-erreichen-sie-uns/" target ="_blank" rel="noopener">Wie erreichen Sie uns?</a>
            &#8226
            <a href="https://www.th-nuernberg.de/stellenangebote/" target ="_blank" rel="noopener">Stellenangebote</a>
            &#8226
            <a href="https://www.th-nuernberg.de/impressum/" target ="_blank" rel="noopener">Impressum</a>
            &#8226
            <a href="https://www.th-nuernberg.de/datenschutz/" target ="_blank" rel="noopener">Datenschutz</a>
            &#8226
            <a href="https://my.ohmportal.de/" target ="_blank" rel="noopener">Intranet</a>

        </p>



    </div>

</footer>

</body>






